<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Todo List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.task}">Task Name</td>
        <td th:text="${todo.description}">Task Description</td>
        <td th:text="${todo.completed} ? 'Yes' : 'No'">Completed Status</td>
    </tr>
    </tbody>
</table>
</body>
</html>
